@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: red;
    }

    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
