@layer components {
    .product-card {
        width: min(90vw, 380px);
        padding: calc(1.5rem + 2px);
        background-color: lch(20% 0.03 250);
        border-radius: 5px;
        overflow: hidden;

        .card-image-container img {
            width: 100%;
            display: block;
            transform: scale(1.1) rotate(-3deg);
            transition: transform 0.5s ease;
        }

        &:hover img {
            transform: scale(1) rotate(0deg);
        }

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;

            .card-title {
                font-family: 'Orbitron', sans-serif;
                font-size: clamp(1.5rem, 5vw, 2.2rem);
                color: hwb(180 30% 10%);
                text-align: center; 
            }

            .card-description {
                opacity: 0.9;
            }

            .card-button {
                display: flex;
                justify-content: center;
                font-family: 'Orbitron', sans-serif;
                background: linear-gradient(to right, blue, purple);
                color: color-mix(in hwb, hwb(180 30% 10%), white);
                padding: 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: filter 0.3s ease;
                &:hover {
                    filter: brightness(1.1);
                }
            }
        }
    }
}
