* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #4b4a4a;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: white;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  .logo {
    font-size: 2rem;
    font-weight: 700;
  }

  nav {
    .main-menu {
      display: flex;
      gap: 30px;

      li {
        position: relative;

        a:hover {
          color: #1abc9c;
        }

        &.menu-item-has-submenu {
          .submenu {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            background: #34495e;
            border-radius: 5px;
            min-width: 150px;
            transition: 0.3s ease-in-out;
            transform: scale(1.0, 0.0);
            transform-origin: top;
            li{
              padding: 10px;
              &:hover{
                background-color: #2c3e50;
              }
            }
          }

          &:hover .submenu {
            display: block;
            flex-direction: column;
            transform: scale(1.0, 1.0);
          }
        }
      }
    }
  }
}

main {
  .popular-destinations {
    padding: 40px;
    margin-top: 50px;

    h2 {
      text-align: center;
      color: #2c3e50;
      font-size: 2rem;
      margin-bottom: 30px;
    }

    .destinations-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      .destination-card {
        width: 350px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px black;
        transition: 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        .card-content {
          padding: 20px;

          h3 {
            color: #2c3e50;
            margin-bottom: 10px;
          }

          p {
            color: #4b4a4a;
          }
        }
      }
    }
  }
}

.main-footer {
  margin-top: auto;
  background: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-links {
    display: flex;
    gap: 20px;

    a:hover {
      color: #1abc9c;
    }
  }
}