@import url("./gallery.css") layer(gallery);

@layer principal {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --fondo-header: #cdb9b9ff;
    --texto-header: #f5f5f5;
    --fondo-body: #ffffffff;
    --texto-body: #000000ff;
    --padding: 10px;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: var(--fondo-body);
    color: var(--texto-body);
    
    header,
    footer {
      background: var(--fondo-header);
      color: var(--texto-header);
      padding: var(--padding);
    }

    header h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
    }

    main {
      padding: var(--padding);
    }

    footer {
      text-align: center;
    }
  }
}
