:root {
  --color-titulo: #2c3e50;
  --color-texto: #34495e;
  --color-fondo: #ecf0f1;
  --color-fondo-header: #bdc3c7;
  --color-fondo-footer: #95a5a6;
  --margen-general: 1rem;
  --fuente-principal: "Segoe UI", sans-serif;
  --border-radius: 5px;
  --sombra: 0 2px 4px rgb(32, 30, 30);
  --duracion-animacion: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-fondo);
  font-family: var(--fuente-principal);
  grid-template-columns: 1fr;
  min-height: 100vh;
  & :is(h1, h2, h3) {
    color: var(--color-titulo);
    font-family: var(--fuente-principal);
    margin-bottom: var(--margen-general);
  }
  & :where(header, footer, main, aside) {
    margin: 1rem;
  }
}
