.card {
  background-color: var(--color-fondo);
  border: 1px solid var(--color-titulo);
  box-shadow: var(--sombra);
  border-radius: var(--border-radius);
  width: 250px;
  overflow: hidden;
  height: 140px;
  transition: transform var(--duracion-animacion),
    box-shadow var(--duracion-animacion), height var(--duracion-animacion);

  &:hover {
    box-shadow: 0 8px 16px rgba(64, 58, 58, 1);
  }

  @supports (interpolate-size: allow-keywords) {
    interpolate-size: allow-keywords;
    &:hover {
      height: auto;
    }
  }

  @supports not (interpolate-size: allow-keywords) {
    &:hover {
      height: inherit;
    }
  }

  &:not(.featured) {
    border: 1px solid yellow;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0;
  }

  &:has(img) .card-content {
    border-top: 2px solid green;
  }

  .card-content {
    padding: 1rem;
    margin: var(--margen-general);
    p {
      margin-bottom: var(--margen-general);
    }
  }

  .button {
    background-color: var(--color-titulo);
    color: white;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: background-color var(--duracion-animacion);
    text-decoration: none;

    &:hover {
      background-color: rgba(94, 124, 153, 1);
    }
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    color: var(--color-texto);
  }

  .has-submenu {
    position: relative;

    .submenu {
      position: absolute;
      list-style: none;
      pointer-events: none;
      top: 100%;
      left: 0;
      background-color: var(--color-fondo);
      box-shadow: var(--sombra);
      width: 200px;
      opacity: 0;
      transform: translateY(10px);
      z-index: 10;
      transition: transform var(--duracion-animacion) ease;
      li {
        padding: 0.5rem;
        &:hover {
          background-color: var(--color-fondo-header);
        }
      }
    }
    &:hover .submenu {
      pointer-events: auto;
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#menu-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 10;
  margin: 1.5rem;

  span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    background-color: var(--color-texto);
    transition: all var(--duracion-animacion) ease-in-out;
  }
}

@media (width <= 768px) {
  .header-content {
    text-align: center;
  }

  .nav-links {
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: var(--color-fondo);
    box-shadow: var(--sombra);
    flex-direction: column;
    z-index: 10;
    padding-top: 1.5rem;
    transition: right var(--duracion-animacion) ease-in-out;

    .submenu {
      position: static;
      display: block;
      opacity: 1;
      background-color: var(--color-fondo);
      margin: var(--margen-general);
      width: auto;
      box-shadow: none;
      pointer-events: none;
    }
  }

  .hamburger-menu {
    display: flex;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 20;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  #menu-toggle:checked ~ .hamburger-menu {
    span:nth-child(1) {
      rotate: 45deg;
      translate: 5px 2px;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      rotate: -45deg;
      translate: 5px -12px;
    }
  }
}
