header {
  display: flex;
  justify-content: center;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    h1 {
      flex-grow: 1;
    }
  }
}

main {
  container-type: inline-size;
  container-name: main-container;
}
aside {
  container-type: inline-size;
  container-name: aside-container;
  height: fit-content;
  h2 {
    border-bottom: 2px solid var(--color-titulo);
  }
  ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--color-titulo);
    border-radius: var(--border-radius);
    background-color: var(--color-fondo);
    box-shadow: var(--sombra);
    li {
      padding: 1rem;
      transition: var(--duracion-animacion);
      &:hover {
        cursor: pointer;
        scale: 1.02;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.page-container {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;

  .card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@container main-container (width > 500px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@container main-container (width > 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width > 900px) {
  .page-container {
    grid-template-columns: 3fr 1fr;
  }
}
