* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
  header {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2f394d;
    padding-top: 20px;
    color: white;
  }
}

header p {
  font-family: "Bebas Neue", sans-serif;
  font-size: small;
  margin-bottom: 5px;
}
h1 {
  margin: 0;
}

nav {
  background-color: #424e67;
  text-align: center;
  padding: 3px;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 40px;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: small;
  font-variant: small-caps;
}

nav {
  background-color: #424e67;
  text-align: center;
  padding: 5px;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: small;
  font-variant: small-caps;
}

main {
  padding: 20px;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
}

h2 + p {
  text-indent: 30px;
  word-spacing: 5px;
}

h3 ~ p {
  font-size: 0.95em;
}

.clase {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #eaeaea;
  padding: 5px;
}

.resaltado {
  font-weight: bold;
  color: red;
}

aside {
  background-color: #eaeaea;
  padding: 15px;
  margin-top: 20px;
  border-left: 5px solid #0a52e1;
}
aside h3 {
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: #2f394d;
  color: white;
  padding: 10px;
  font-size: small;
}
